* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    background-image: url(img/backgorund.avif);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 12px;
    margin: 12px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    backdrop-filter: blur(2px);
}

.form-container div {
    display: flex;
    flex-direction: column;
}

.form-container label {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.form-container input {
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

.form-container button {
    padding: 8px;
    background-color: #8FBC8F;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: all .5s;
}

.form-container button i {
    margin-right: 5px;
}

.form-container button:hover {
    background-color: #2E8B57;
}

.ul-container {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    backdrop-filter: blur(2px);
    padding: 16px;
    margin: 15px;
    border-radius: 10px; 
}

.ul-container i {
    margin-right: 5px;
}

.ul-container button {
    padding: 8px;
    background-color: rgb(252, 39, 39);
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: all .5s;
}

.ul-container button:hover {
    background-color: #a51919;
}

input[type="checkbox"] {
    margin-right: 10px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label {
    text-decoration: line-through;
}

#lista-atividades label {
    color: #fff;
}


ul li {
    font-size: 20px;
    list-style: none;
    color: #000;
    margin-bottom: 10px;
}